<form method="post" action="">
  <div class="mt-4">
    <label for="search-input">
      <h2>
        Search something
      </h2>
    </label>
    <input
      type="text"
      class="form-control"
      id="search-input"
      name="search"
      placeholder="Enter something"
    />
    <hr />
    <select name="" id="">
      <option value="">
        -- Sex --
      </option>
      <option value="male">
        Male
      </option>
      <option value="female">
        Female
      </option>
    </select>
  </div>
  <hr />
  <button type="submit" class="btn btn-primary">
    Tim kiem
  </button>
</form>